body {
    font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    color: #333;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.header {
    
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #005BFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px; 
    border-radius: 8px; 

}
/* Расчет стоимости*/
.main-title {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    margin : 0;
    margin-left: 20px; 
}

/* Секции*/
.section {
    margin-bottom: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/*Серые блоки параметров */
.parameter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 12px 16px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.parameter-name {
    font-weight: 500;
    color: #555;
}

.parameter-value {
    font-weight: 600;
    color: #333;
}

/*Синие блоки расчетов */
.calculation-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f7ff;
    padding: 12px 16px;
    margin-top: 15px;
    border-radius: 6px;
    border-left: 4px solid #005BFF;
}

.calculation-name {
    font-weight: 600;
    color: #005BFF;
}

.calculation-value {
    font-weight: 700;
    color: #005BFF;
}

/*Кнопки */
.header-buttons {
    display: flex;
    gap: 20px;
}

.header-btn {
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
}

.header-btn:hover {
    background-color: #f0f0f0;
}

.btn-requirements {
    background-color: white;
    color: #005BFF;
    border: 1px solid #005BFF;
}

.btn-salary {
    background-color: white;
    color: #005BFF;
    border: 1px solid #005BFF;
    margin-right: 20px;
}

h2 {
    color: #222;
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

/*Левая и правая секция*/
.section-left,
.section-right {
    flex: 1; 
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/*Название параметров*/
.parameter-name {
    font-weight: 500;
    color: #555;
    min-width: 200px; 
}

/*Поля ввода*/
.parameter-input {
    width: 60px; 
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    margin-left: 0px;
}

#travel_time {
    margin-right: 2px; 
}
/*Единицы измерения*/
.parameter-unit {
    font-weight: 500;
    color: #555;
}

.parameter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: black;
    margin-bottom: 8px;
    padding: 0 16px;
}

.header-work {
    min-width: 200px; 
}

.header-duration {
    text-align: right;
    width: 100px; 
    margin-right: 0px;
}

/*Модальное окно ЗП*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Содержание */
.modal-content {
    display: flex;
    flex-direction: column;
    /* Размеры */
    height: 80vh; 
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    /* Позиция */
    position: absolute;
    left: 50%;
    top: 10%;    
    bottom: 50px;   
    transform: translateX(-50%);
    overflow: visible;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    text-align: left;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    text-align: right;
}

/*Поле ввода*/
.search-input,
.comment-input {
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%; 
    max-width: 100%; 
}
.search-input {
    width: 60%;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 5px; 
}
.comment-input {
    flex-grow: 1;
}

/*Поле с кнопкой*/
.input-with-button {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px;
}

/*Кнопка Сохранить */
.btn-save {
    background-color: #005BFF;
    color: white;
    border: 1px solid #005BFF;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 12px; 
    font-weight: 700;     
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-save:hover {
    background-color: #0047cc; 
    border-color: #0047cc;
}

.modal-body-wrapper {
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 10px;
}

.table-container {
    max-height: 430px; 
    overflow-y: auto;
}
.table-container table {
    width: 100%;
    min-width: 100%;
    table-layout: fixed;
}

/*Область прокрутки*/
.scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 8px;
    margin-top: 10px;
}
.scrollable-content::-webkit-scrollbar {
    width: 6px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

/*Область с кнопкой*/
.modal-footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding-top: 10px;
    z-index: 10;
    border-top: 1px solid #eee;
}
.modal-content h3 {
    color: #0047cc;
    margin: 0 0 20px 0;
    font-size: 16px;
}
/*Заголовки таблицы*/
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.header-object {
    font-weight: 600;
    color: black;
    margin-left: 5px;
}

.header-salary {
    font-weight: 600;
    color: black;
    margin-left: 130px;
}

.header-explanation {
    font-weight: 600;
    color: black;
    margin-right: 15px;
    flex-grow: 1;
    text-align: right;
}
#requirementInputsContainer .requirement-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.parameter-explanation {
    flex: 0 0 43%; 
    white-space: normal; 
    word-wrap: break-word; 
    margin-left: 40px;
}

/* ДОПОЛНИТЕЛЬНО 1*/
.select-with-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.select-with-price select {
    flex-grow: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.select-with-price .price {
    min-width: 100px;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

#sum_price_join {
    font-weight: bold;
    color: #0047cc;
    margin-right: 20px;
}

#price_join {
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
    color: #0047cc;
    font-size: 16px;
}


/* ПРЕДВАРИТЕЛЬНАЯ СТОИМОСТЬ*/
    .cost-table {
        width: 100%; 
        border-collapse: collapse; 
        font-family: Arial, sans-serif;
        margin: 15px 0;

    }

    
    .cost-table th {
        background-color: #005BFF; 
        color: white;
        padding: 10px; 
        text-align: center;
        border: 1px solid #005BFF; 
    }
    
    .cost-table td {
        padding: 8px 10px; 
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #ddd; 
    }
    .cost-table td:nth-child(6) {
        height: 80px;     
        vertical-align: middle; 
        box-sizing: border-box; 

    }

    .cost-table th:nth-child(4) {
        background-color: #20c9a7; 
        color: white; 
        font-weight: bold;
    }

    .cost-table th:nth-child(8) {
        background-color: #20c9a7; 
        color: white;
        font-weight: bold;
    }

    .cost-table td:nth-child(4) {
        background-color: #c0fff2; 
        font-weight: bold;
    }

    .cost-table td:nth-child(8) {
        background-color: #c0fff2; 
        font-weight: bold;
    }
    
    .cost-table tr:nth-child(even) {
        background-color: #f8f8f8;
    }
    
    .cost-table tr:hover {
        background-color: #f0fdfb;
    }

       .object-select {
        width: 100%;
        padding: 5px;
        border: 1px solid #3aafa9;
        border-radius: 4px;
        background-color: white;
        color: #333;
        font-size: 14px;
        outline: none;
    }
    
    .object-select:focus {
        border-color: #005BFF;
        box-shadow: 0 0 0 2px rgba(0, 71, 204, 0.2);
    }

/*ДОПОЛНИТЕЛЬНО 2*/
.section {
    margin-bottom: 30px;
    position: relative; 
}

.parameter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.header-work {
    width: 60%;
}

.header-duration {
    width: 40%;
    text-align: right;
}

.additional-footer {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.input-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-save {
    background-color: #005BFF;
    color: white;
    border: 1px solid #005BFF;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 12px;   
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-save:hover {
    background-color: #0047cc; 
    border-color: #0047cc;
}

.total-cost {
    display: flex;
    align-items: center;
}

.dop-name {
    margin-right: 70px;
    font-weight: bold;
    color: #0047cc;
}

.dop-value {
    font-weight: bold;
    color: #0047cc;
}

td.markup {
    padding: 8px 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial', sans-serif; 
}

td.markup input[type="number"] {
    width: 70px; 
    padding: 8px 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    text-align: center;
    font-size: 16px; 
    font-family: 'Arial', sans-serif; 
    color: #000; 
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-right: 0px;
}

